<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Clientes</title>
    <link rel="stylesheet" th:href="@{/style.css}"> 
</head>
<body class="desktop-container">

    <div class="painel" style="grid-column: 2 / span 4; grid-row: 1 / 3;">
        
        <h2>👤 Clientes Cadastrados</h2>

        <div class="botoes-topo">
            <a th:href="@{/clientes/novo}" class="btn btn-principal btn-novo-cliente">
                ➕ Novo Cliente
            </a>
        </div>
        
        <div class="lista-scroll">
            <table class="tabela-clientes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome Completo</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}">1</td>
                        <td th:text="${cliente.nome}">João da Silva</td>
                        <td th:text="${cliente.telefone}"> (XX) XXXX-XXXX</td>
                        <td th:text="${cliente.email}"> joao@email.com</td>
                        
                        <td>
                            <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="btn-editar">Editar</a>
                            <a href="#" class="btn-excluir">Excluir</a>
                        </td>
                    </tr>
                    <tr th:if="${clientes.empty}">
                        <td colspan="5" class="text-center" style="color: var(--cor-texto-secundario);">
                            Nenhum cliente cadastrado.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="desktop-1 painel menu-lateral">
        <div class="menu-lateral-header"><a th:href="@{/}">RESTAURANTE</a></div>
        <nav>
            <a th:href="@{/pedidos}">Pedidos</a>
            <a th:href="@{/clientes}">Clientes</a>
        </nav>
    </div>
</body>
</html>